*{
    margin: 0;
    padding: 0;
}

/* TODO List container */
#todolist-container {
    width: 100%;
    height: 100%;
    padding: 50px 0px;
    background: linear-gradient(135deg, #153677, #4e085f);
}

/* TODO List header*/
#todolist-container h1{
    font-family: Comic Sans MS;
    text-align: center;
    margin-bottom: 10px;
}

#todo-app {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 400px;
    background: white;
    margin: 100px auto 20px;
    padding: 20px 10px 30px;
    border-radius: 2.5%;
}

/* TODO text box & submit button */
#todolist-text-btn-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #edeef0;
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 25px;
}

#todolist-text-btn-row #add-task-textbox{
    flex: 1;
    padding: 10px;
    border: none;
    outline: none;
    background: transparent;
    font-weight: 10px;
}

#todolist-text-btn-row #add-task-btn {
    border: none;
    outline: none;
    padding: 12px 30px;
    background: #ff5945;
    color: white;
    font-size: 15px;
    /* cursor: pointer; */
    border-radius: 40px 5px 5px 0px;
}


#todolist-text-btn-row #add-task-btn:hover{
    background-color: #fff;
    padding: 10px 28px;
    border: 2px solid #ff5945;    
    cursor: pointer;
    color: #ff5945;
}


/* TODO list items */
#todo-list li {
    list-style: none;
    font-size: 15px;
    padding: 12px 8px 5px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;
}

#todo-list li::before {
    content: '';
    position: absolute;
    height: 18px;
    width: 18px;
    border-radius: 50%;
    background-image: url(images/unchecked.png);
    background-size: cover;
    background-position: center;
    top: 12px;
    left: 5px;
}

#todo-list li.checked {
    color: #555;
    text-decoration: line-through;
}

#todo-list li.checked::before {
    background-image: url(images/checked.png);
}

/* TODO list delete icon */
#todo-list li span {
    position: absolute;
    right: 0;
    top: 5px;
    width: 40px;
    height: 40px;
    font-size: 23px;
    color: #555;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
}

#todo-list li span:hover{
    background: #edeef0;
}

/* TODO list total & completed tasks count */
#tasks-stats {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
    padding-top: 10px;
    font-size: 15px;
}

#tasks-stats > p{
    padding: 10px 10px 8px;   
    font-family: cursive;
}

#tasks-stats span{
    color: #ff5945;   
    font-weight: bold;
    opacity: 0.8;
}

#tasks-stats #task-count {  /* Total & Completed task divider */
    padding-right: 80px;
    text-align: center;
    border-right: 1.5px solid black;
}


/* button to clear all tasks */
#clear-tasks{
    width: 30%;
    background: #fff;
    text-align: center;
    padding: 8px 8px 8px;
    margin: 10px auto;
    color: #ff5945;
    font-size: small;
    cursor: pointer;
    border: 2px solid #ff5945;
    border-radius: 18px 1px 18px 1px;
}

#clear-tasks:hover {
    background-color: initial;
    padding: 8px 8px 8px;
    background: #ff5945;   
    cursor: pointer;
    color: #fff;
}

/* text displayed when no task added */
#empty-list {
    text-align: center;
    color: #95979b;
}

/* time of task created */
.li-div h6{
    margin: 0 0 0 12%;
    font-size: 10px;
    opacity: 0.3;
}